.cec-select {
    text-align: left;
    position: relative;
    margin-bottom: $defaultSize;

    button {
      background: white;
      border: 1px solid $neutral;
      color: $defaultFontColor;
      height: auto;
      text-align: left;
      font-weight: normal;

      .icon-toggle {
        width: 38px;
        text-align: right;
        position: absolute;
        right: 8px;
        top: 8px;
        display: inline-block;

        .fa-chevron-down, .fa-chevron-up {
          color: $neutral;
          font-size: 12px;
          text-align: right;
        }
      }
    }

    button:hover {
      background: $neutralLight;
    }

    .cec-select-list {
        position: absolute;
        top: 38px;
        left: 0;
        z-index: 4;
        width: 100%;
        background: white;
        max-height: 160px;
        overflow-y: auto;

        .list-item {
          padding: $defaultSize;
          border: 1px solid $neutral;
          cursor: pointer;
          border-bottom: none;
          border-right: none;
          position: relative;
        }
        
        .list-item:last-child {
          border-bottom: 1px solid $neutral;
        }
        
        .list-item:hover, button:hover {
          background: $terciaryLight;
        }
        
        .selected .list-item:first-child {
          border-top: 1px solid $neutral;
        }
      }
  }
  