$primary: #ff9840;
$primaryHover: #ec7003;
$primaryLight: #fef3e9;
$secondary: #0095b2;
$secondaryHover: #05859e;
$secondaryLight: #f2f9fb;
$secondaryDark: #23527c;
$terciary: #00d5ff;
$neutral: #ccc;
$neutralHover: rgb(187, 184, 184);
$neutralLight: #f4f4f4;
$neutralLightHover: #cbcbcb;
$neutralDark: #666;
$warning: red;
$warningLight: rgba(238,90,92,.2);
$cashback: #9ce237;
$cashbackHover: #8ecf33;
$noCashback: #ff7600;
$noCashbackHover: #ec7003;

$defaultFontColor: #666;
$defaultFontFamily: 'Noto Sans', sans-serif;
$defaultFontSize: 14px;
$defaultMarginSize: 10px;
$defaultPaddingSize: 10px;
$fancyFontFamily: 'Raleway', sans-serif;

$screen-xs-min: 425px;  // Tiny phones
$screen-sm-min: 576px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;  // Small tablets (portrait view)
$screen-lg-min: 992px;  // Tablets and small desktops

// Mixins
@mixin mobile { @media (min-width: #{$screen-xs-min}) {@content;} }
@mixin tabletPortrait { @media (min-width: #{$screen-sm-min}) {@content;} }
@mixin tablet { @media (min-width: #{$screen-md-min}) {@content;} }
@mixin desktop { @media (min-width: #{$screen-lg-min}) {@content;} }